* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

/*heeader disini brother*/
#header {
  background-image: url(./images/background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding: 0 7%;
  color: white;
}

#header .navbar {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

#header .logo {
  width: 50px;
  cursor: pointer;
}

.navbar ul {
  flex: 1;
}

.navbar ul li {
  display: inline-block;
  margin: 10px 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

#header .navbar .cta {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 20px;
}

/*Akhir heeader disini brother*/

.content {
  margin-top: 12%;
}

.content h1 {
  font-size: 88px;
  margin-bottom: 15px;
}

.content h1 span {
  color: #ff960b;
}

.content p {
  font-size: 14px;
  line-height: 20px;
}

.content .cta {
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  background-color: #ff960b;
  border-radius: 20px;
  margin-top: 30px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.content .cta :hover {
  background-color: #000000;
}

.coin-list {
  position: absolute;
  right: 10%;
  bottom: 50px;
  display: flex;
  align-items: center;
}

.coin {
  display: flex;
  align-items: center;
  color: #ff960b;
  font-size: 14px;
  margin: 0 15px;
  border: 1px solid #fff;
  padding: 20px 30px;
  border-radius: 8px;
}

.coin img {
  width: 40px;
  margin-right: 10px;
}

.coin h3 {
  color: white;
  margin-bottom: 5px;
}
